@charset 'UTF-8';
#layout {
  padding-left: 150px;
}
#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 150px;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scroll: touch;
}
#content {
  width: 70%;
  margin: 0 auto;
}
.job-list {
  list-style-type: none;
  padding: 0;
}

.job-list a {
  color: #444;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #CCC;
  text-decoration: none;
}

.job-list a:hover {
  background: #DDD;
}

.job-details {
  width: 70%;
  display: inline-block;
  overflow: hidden;
}

.job-status {
  width: 30%;
  display: inline-block;
  float: right;
}

.job-list h3 {
  margin: 0.3em 0;
}

.job-list h4 {
  display: inline;
  margin-right: 0.5em;
}

.job-list .job-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}