!!! 5
html
	head
	link(rel='stylesheet', type='text/css', href='global.css')
	
	body
		h1= locals.title
		
			
		a(href='/').btn Home
		
		a(href='/jobs').btn Jobs
		
		a(href='/users').btn Users
		
		a(href='/logout').btn Log Out