extends layout

block content
  h2 Register

  form(action="/register",method="post")
    div
      label First Name
      input(type="text",name="firstname")
    div
      label Last Name
      input(type="text",name="lastname")
    div
      label Username
      input(type="text",name="username")
    div
      label Password
      input(type="password",name="password")
    div
      label Address
      input(type="text",name="address")
    div
      label City
      input(type="text",name="city")
    div
      label State
      input(type="text",name="state")
    div
      label Zip Code
      input(type="text",name="zipcode")
    div
      label Phone Number
      input(type="text",name="phone")        
    div
      input(type="submit",value="Register")