!!! 5
html
	head
	link(rel='stylesheet', type='text/css', href='global.css')
	
	body
		h1 Sign Up
		
		if (locals.message)
			span.message=locals.message
		
		form(method='post', action='/signup').form-signup
			input(type='text', name='username', placeholder='username')
			input(type='password', name='password', placeholder='password')
			button(type='submit').btn Sign Up
			
		a(href='/').btn Home
		
		a(href='/logout').btn Log Out