extends layout
block content
  form(method='post', action='/signup').form-signup
    input(type='text', name='username', placeholder='username')
    input(type='password', name='password', placeholder='password')
    button(type='submit').btn Sign Up
